/* Default styles */
html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    height: 100vh;
    background-color: #fafafa;
}

body.no-scroll {
    overflow: hidden;
}

@media (max-height: 480px) {
    body {
        min-height: 100vh;
    }
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.wrapper {
    height: 100%;
}

.header {
    margin: 3rem 1rem;
}

.header__inner {
    position: relative;
    padding: 1.2rem 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
}

.logo {
    font-size: 2.4rem;
}

.logo__link {
    color: #121212;
    font-weight: 700;
    text-decoration: none;
}

.logo__link:hover {
    text-decoration: none;
    color: inherit;
}

.logo__span {
    color: #ec3482;
}

.nav {
    font-size: 1.5rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
}

.nav__link {
    color: #121212;
    font-weight: 500;
    text-decoration: none;
    margin-right: 3rem;
    padding: 0.5rem 2rem;
    border-radius: 1.7rem;
    -webkit-transition: background-color 0.1s linear, color 0.2s linear;
    transition: background-color 0.1s linear, color 0.2s linear;
}

.nav__link:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: inherit;
}

.nav__link.active {
    background-color: #ec3482;
    color: #fff;
}

@media (max-width: 992px) {
    .nav__link {
        margin-right: 0.5rem;
    }
}

.lang {
    color: #ec3482;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    pointer-events: none;
    text-align: right;
}

@media (max-width: 768px) {
    .lang {
        display: none;
    }
}

.nav-toggle {
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 3.5rem;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    z-index: 2;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
}

.menu__icon {
    width: 20px;
    height: 20px;
    fill: black;
}

.content__title {
    color: #121212;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.intro {
    position: relative;
}

.intro__subname {
    color: #ababab;
    font-size: 1.8rem;
    font-weight: 400;
}

.intro__name {
    color: #121212;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.2;
}

.intro__prof {
    font-size: 2.4rem;
    color: #121212;
    margin-bottom: 4rem;
}

@media (max-width: 576px) {
    .intro__prof {
        margin-bottom: 2rem;
    }
}

.intro {
    position: relative;
}

.intro__subname {
    color: #ababab;
    font-size: 1.8rem;
    font-weight: 400;
}

.intro__name {
    color: #121212;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 1.2;
}

.intro__prof {
    font-size: 2.4rem;
    color: #121212;
    margin-bottom: 4rem;
}

@media (max-width: 576px) {
    .intro__prof {
        margin-bottom: 2rem;
    }
}

.contacts {
    margin-top: 1.5rem;
}

.contacts.contacts-modal {
    margin-top: 0;
    text-align: center;
}

.contacts__item {
    font-size: 1.5rem;
    font-weight: 500;
}

.contacts__item a {
    color: #121212;
    text-decoration: none;
}

.contacts__item a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .contacts__item.contacts__item-modal:first-child {
        display: none;
    }
}

@media (max-width: 576px) {
    .contacts__item.contacts__item-modal:last-child {
        text-align: right;
    }
}

.btn {
    padding: 0;
    border: none;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 1.1;
    font-size: 1.5rem;
    color: #121212;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    padding: 1.2rem 5rem;
    border-radius: .5rem;
    border: 2px solid #ec3482;
    -webkit-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}

.btn:hover {
    background-color: #ec3482;
    color: #fff;
}

.skills__item {
    position: relative;
    padding: 2.5rem;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    background-color: #fff;
    height: 100%;
}

@media (max-width: 992px) {
    .skills__item {
        margin-bottom: 1rem;
        height: auto;
    }
}

.skills__icon {
    position: absolute;
    top: 1.5rem;
    z-index: 1;
    width: 50px;
    height: 50px;
    fill: #121212;
}

.skills__title {
    color: #121212;
    font-size: 2.1rem;
    font-weight: 500;
    padding-left: 7rem;
}

.skills__text {
    margin-top: 2rem;
    color: #121212;
    font-size: 1.5rem;
    font-weight: 400;
}

.skills__text ul {
    margin: 0;
    padding-left: 2.5rem;
}

.portfolio {
    position: relative;
}

.portfolio__slider {
    position: relative;
    visibility: hidden;
}

.portfolio__slider.slick-initialized {
    visibility: visible;
}

.portfolio__item {
    position: relative;
    overflow: hidden;
    background-color: #121212;
    max-width: 540px;
}

.portfolio__item:hover .portfolio__text {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.portfolio__item:hover .portfolio__img {
    opacity: 0.4;
}

.portfolio__link {
    display: block;
    width: 100%;
}

.portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.portfolio__text {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 0 3rem 2rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: #fff;
    line-height: 1.1;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.slider__arrows {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: none;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
}

.slider__arrows--right {
    right: -3rem;
}

.slider__arrows--left {
    left: -3rem;
}

.slider__arrows:hover .slider__control {
    fill: #ec3482;
}

@media (max-width: 576px) {
    .slider__arrows {
        display: none;
    }
}

.slider__control {
    width: 20px;
    height: 20px;
    fill: #ababab;
    -webkit-transition: fill .2s linear;
    transition: fill .2s linear;
}

.slick-slide {
    padding: 0 1rem;
}

.slick-slide:focus {
    outline: 0;
}

.slick-dots {
    width: 100%;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
    position: absolute;
    bottom: -3rem;
    left: 0;
    z-index: 2;
}

@media (max-height: 510px) {
    .slick-dots {
        text-align: right;
    }
}

.slick-dots li {
    display: inline-block;
    vertical-align: middle;
    margin-right: .7rem;
}

.slick-dots li.slick-active button {
    background-color: #ec3482;
}

.slick-dots button {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-color: #c5c5c5;
    padding: 0;
    border: 0;
    font-size: 0;
    color: transparent;
}

.slick-dots button:focus {
    outline: 0;
}

.footer__inner {
    padding: 1.2rem 0;
}

.footer__contacts {
    color: #121212;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 3rem;
}

@media (max-width: 340px) {
    .footer__contacts {
        margin-bottom: 1rem;
    }
}

.footer__links {
    text-decoration: none;
    margin-right: 2rem;
}

.footer__links:last-child {
    margin-right: 0;
}

.footer__icons {
    width: 25px;
    height: 25px;
    fill: #ababab;
    -webkit-transition: fill 0.2s linear, -webkit-transform 0.2s linear;
    transition: fill 0.2s linear, -webkit-transform 0.2s linear;
    transition: transform 0.2s linear, fill 0.2s linear;
    transition: transform 0.2s linear, fill 0.2s linear, -webkit-transform 0.2s linear;
}

.footer__icons:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    fill: #121212;
}

.modal {
    padding-left: 0;
}

.modal-content {
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    border: none;
}

.modal__close {
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.modal__close-icon {
    fill: #121212;
    width: 15px;
    height: 15px;
}

.modal__title {
    color: #ec3482;
    font-size: 2.4rem;
    font-weight: 500;
}

.modal__text {
    color: #121212;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.form {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.form__item {
    margin-bottom: 2rem;
}

.input {
    display: block;
    width: 100%;
    color: #121212;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1.5rem 3rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.input::-webkit-input-placeholder {
    color: #7b7b7b;
}

.input::-moz-placeholder {
    color: #7b7b7b;
}

.input:-ms-input-placeholder {
    color: #7b7b7b;
}

.input::-ms-input-placeholder {
    color: #7b7b7b;
}

.input::placeholder {
    color: #7b7b7b;
}

.input:focus {
    border-color: #ec3482;
    outline: 0;
}

.modal-nav__nav {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
    font-size: 3.5rem;
}

.modal-nav__link {
    margin-right: 0;
    margin-bottom: 1rem;
}
